/* *{
    border: 1px solid red !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }


body {
  font-family: "Dancing Script", cursive;
  color: #747704;
  font-weight: 400;
  }


h1 {
   font-size: 60px;
   margin:auto;
   padding-top: 2%;
   text-shadow: 4px 4px 4px #aaa;
   }

h2 {
  text-align: left;
  font-weight: bolder;
  font-size: 40px;
  margin: auto;
   }

h4 {
   text-align: right;
   font-weight: bolder;
   font-size: 20px;
   margin: auto;
   }

hr {
   border-top: 4px solid #747704;
   max-width: 100%;
   margin-left: -10px;
   margin-right: 20px;
   }


img {
 width: 100%;
 height: 100%;
 margin:auto;
 }

#Featured {
  padding-top: 5%;
  }

p {
  font-size: 15px;
  }

#Applify {
  text-align: center;
  }

#Sunflower {
  text-align: center;
  }

#Brokel {
  text-align: center;
 }

/*
Bootstrap Hover Effect taken from  http://miketricking.github.io/dist/
*/
 .Applify_hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.Applify_hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.Applify_hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.Applify_hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:8px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:5%;
}

.Applify_hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.Applify_hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.Applify_hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.Applify_hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.Applify_hovereffect:hover h2,.Applify_hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.Applify_hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/*  Applify_hovereffect taken from http://miketricking.github.io/dist/     */
/*  Sunflower_hovereffect taken from http://miketricking.github.io/dist/     */
.Sunflower_hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.Sunflower_hovereffect .Sunflower_overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 55%;
  height: 81%;
  left: 22%;
  top: 10%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.Sunflower_hovereffect:hover .Sunflower_overlay {
  background-color: rgba(0,0,0,0.3);
}

.Sunflower_hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.Sunflower_hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.Sunflower_hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.Sunflower_hovereffect a, .Sunflower_hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.Sunflower_hovereffect:hover a, .Sunflower_hovereffect:hover p, .Sunflower_hovereffect:hover h2, .Sunflower_hovereffect:hover .Sunflower_overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/*  Sunflower_hovereffect taken from http://miketricking.github.io/dist/     */
/*  Brokel_hovereffect taken from http://miketricking.github.io/dist/     */

.Brokel_hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.Brokel_hovereffect .Brokel_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.Brokel_hovereffect:hover .Brokel_overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.Brokel_hovereffect img {
  display: block;
  position: relative;
}

.Brokel_hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.Brokel_hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.Brokel_hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.Brokel_hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.Brokel_hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
/*  Brokel_hovereffect taken from http://miketricking.github.io/dist/     */
